.driver-card{
    height: 282px;
    padding: 20px 20px 30px 20px;
    text-align: center;
}
.driver-info{
    text-align: center;
    margin-top: 5px;
    padding-top: 10px;

}
.driver-name {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.015em;
}
.driver-info-jobs{
    text-align: left;
    margin-top: 10px;
    border-top: 1px solid #E1E1E1;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    
}
.driver-card-img {
    width: 135px;
    height: 135px;
}